@import "tailwindcss";

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.footer-title {
  @apply mb-4 text-base font-semibold text-white;
}

.footer-list li {
  @apply cursor-pointer text-sm text-gray-400 hover:text-white transition;
}

.footer-icon {
  @apply flex h-9 w-9 items-center justify-center rounded-full
         bg-slate-800 text-gray-300 hover:bg-blue-600 hover:text-white
         transition cursor-pointer;
}

/* 🔒 STOP CLICK-THROUGH COMPLETELY */
.bm-swiper-wrapper {
  pointer-events: none; /* ❌ nothing inside clickable */
  position: relative;
  z-index: 20;
}

/* ✅ ONLY arrows clickable */
.bm-swiper .swiper-button-next,
.bm-swiper .swiper-button-prev {
  pointer-events: auto;
  z-index: 50;
}

/* Optional: arrow look */
.bm-swiper .swiper-button-next::after,
.bm-swiper .swiper-button-prev::after {
  font-size: 14px;
  color: #6b7280;
}
